{% extends "base.html" %}


{% block title %}
Create User
{% endblock %}



{% block content %}



<h2 class="h4 mb-4">
Create New User
</h2>




<div class="card shadow-sm">


<div class="card-body">



<form method="POST">



<div class="mb-3">


<label class="form-label">
Email
</label>


<input 
type="email"
name="email"
class="form-control"
required>


</div>





<div class="mb-3">


<label class="form-label">
Password
</label>


<input 
type="password"
name="password"
class="form-control"
required>


</div>






<div class="mb-3">


<label class="form-label">
Role
</label>


<select name="role"
class="form-select">


<option value="User">
User
</option>


<option value="Admin">
Admin
</option>


</select>


</div>






<button class="btn btn-success">

Create User

</button>




<a href="{{ url_for('users') }}"
class="btn btn-secondary">

Cancel

</a>



</form>



</div>


</div>



{% endblock %}